.sidebar-wrapper {
    transition: 0.6s;
    max-width: 220px;
    width: 100%;
    opacity: 1;
}
.sidebar-wrapper a {
    white-space: nowrap;
}
.border-end.bg-white.sidebar-wrapper.sidebar {
    max-width: 0px;
    overflow: hidden;
    opacity: 0;
}
.dashboard_menu {
    position: fixed;
    top: 80px;
    z-index: 99;
    right: 10%;
}
.addproduct {
    width: 80%;
    padding: 3rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.input-form:focus{
    box-shadow: none!important;
    border: 1px solid #ced4da!important;
}

.confirm-box__content{
    position:fixed;
}
.custom-list{
    margin: 0!important;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
