.register {
    background-image: linear-gradient(
        to top,
        aliceblue,
        #f2fef8
    );
    border-radius: 8px;
    width: 35%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.input-form:focus{
    box-shadow: none!important;
    border: 1px solid #ced4da!important;
}

input#formBasicCheckbox,label.form-check-label{
    box-shadow: none!important;
    cursor: pointer;
}
.have-an-account:focus{
    box-shadow: none!important;
    cursor: pointer;
}
.forgot-password a{
    color: #25aae1;
    text-decoration: none;
}
.forgot-password a:hover{
    color: gray;
}
.sign-toggle a{
    text-decoration: none;
}
.sign-toggle a:hover{
    text-decoration: none;
    color: gray;
}
